npm install --save-dev webpack
npm init
npm install --save-dev webpack && npm install -D webpack-cli
npm install --save-dev babel-core babel-loader babel-preset-es2015 babel-preset-react
npm i react react-dom --save-dev
npm install --save react-router-dom history
npm install --save-dev style-loader css-loader
npm install babel-loader@^7 --save-dev
npm install @material-ui/core
npm install @material-ui/icons

To run dev watch server:
npm run watch
