{% extends "base.html" %}

{% block script %}
     <script>
          $(document).ready(function(){
               $('.tableform').on('submit', function(){
                    $.ajax({
                         type: 'POST',
                         url: '',
                         data: JSON.stringify($('.tableform').serialize()),
                         contentType: "application/json; charset=utf-8",
                         dataType: "json",
                         success: function(response){
                              console.log(response);
                         }
                    });
               });
          })
     </script>

{% endblock %}


{% block content %}
     <center>
          <form action="{{ url_for('admin.table_selected') }}" method="post" class="tableform">
               {{ selectTableForm.hidden_tag() }}
               <p>
                    {{ selectTableForm.table.label }}<br>
                    {{ selectTableForm.table }}
                    {{ selectTableForm.submit() }}
               </p>
          </form>
     </center>



{% endblock %}
