{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/auth/login.css') }}">
{%endblock %}


{% block content %}

  <!--div class="login-form">
    <form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <h2 class="text-center"> Customer Login</h2>
    <div class="form-group">
        {{ form.username(size=32, placeholder="Email", class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.password(size=32, placeholder="Password", class="form-control") }}
    </div>
    <div class="form-group form-submit">
      {{ form.submit(class="btn btn-primary btn-block") }}
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <span style="color: red;">{{message}}</span>
            {% endfor %}
        {% endif %}
    {% endwith %}
		    <p><a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
    </form>

  </div-->



<div class="section">
     <main>
          <center>
               <div class="section"></div>
               <h5 class="teal-text">Login to your account</h5>
               <div class="section"></div>
               <div class="container">
                    <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 12px 30px 0px 30px; border: 1px solid #EEE;">
                         <form action="" class="col s12" method="POST" novalidate>
                              {{ form.hidden_tag() }}
                              <div class="row">
                                   <div class="col s12"></div>
                              </div>
                              <div class="row">
                                   <div class="input-field col s12">
                                        <i class="material-icons prefix">mail_outline</i>
                                        {{ form.username(size=32, type="email", id="email") }}
                                        <label for="email">Enter your email</label>
                                   </div>
                              </div>
                              <div class="row">
                                   <div class="input-field col s12">
                                        <i class="material-icons prefix">lock_outline</i>
                                        {{ form.password(size=32, type="password", id="password") }}
                                        <label for="password">Enter your password</label>
                                   </div>
                              </div>
                              <div class="row">
                                   <div class="col s12">
                                        <label style='float: right;'>
                                             <a class="teal-text" href="{{ url_for('auth.register') }}"><b>Register Now!</b></a>
                                        </label>
                                        <!--label style='float: right;'>
                                             <a class='pink-text' href=><b>Forgot Password?</b></a>
                                        </label-->
                                   </div>
                              </div>
                              <div class="row">
                                    <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect teal'>Login</button>
                              </div>
                         </form>
                    </div>
               </div>
          </center>
     </main>
</div

{% endblock %}
